.edit-heroe {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 24px;
    &__title {
      font-size: 24px;
      color: #0D47A1;
    }
  
    &__input {
      width: 100%;
      margin:10px 0px;
    }
  
    &__preview-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
  
    &__preview {
      width: 100px;
      height: 100px;
    }
  
    &__imageErrors {
      margin-top: 10px;
    }
  
    &__title-box {
      border-left: 8px solid #FFC300;
      padding-left: 4px;
      margin-bottom: 20px;
    }
  
    &__button-box {
     display: flex;
     width: 100%;
     justify-content: center;
      margin-top: 40px;
    }
  
    &__button-space {
      margin-left: 10px;
    }
   }