.home-page{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    height: 100%;
    width: 100%;
  
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      size: 45px;
      font-size: 45px;
      color: #07A6DD;
      margin-top: 50px;
    }
  
    &__central-image {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
  }