.no-data-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
    &__img-box {
    width: 200px;
    height: 40vh;
    background-image: url('../../../assets/images/cancel.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    }
  
    &__central-text {
      font-size:28px;
    }
  }